# Bytecode Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
env/
*.env

# File audio hasil runtime
RSA/input/*.wav
RSA/output1/*.wav

# File key sensitif (jika kamu tidak ingin upload private key)
keys/private_key.pem

# File log / debug
*.log

# File editor dan OS (opsional tapi umum)
.DS_Store
*.swp
*.swo
*.bak
Thumbs.db
