# =========================
# Python bytecode & cache
# =========================
__pycache__/
*.py[cod]
*.pyo

# =========================
# Virtual environments
# =========================
venv/
env/
.venv/
.ENV/
*.env

# =========================
# File audio (runtime input/output)
# =========================
RSA/input/*.wav
RSA/output1/*.wav

# =========================
# Public/Private Key Files
# =========================
RSA/output1/private.pem
RSA/output1/public.pem
*.pem

# =========================
# Log & debug files
# =========================
*.log

# =========================
# OS & Editor junk
# =========================
.DS_Store
*.swp
*.swo
*.bak
Thumbs.db
